.container {
  width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.personage img {
  height: 50px;
  width: 50px;
}
.personage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
}
.noimg {
  height: 50px;
  width: 50px;
  background-color: rgb(69, 150, 150);
}
